#mainDiv {
    width: 400px;
    height: 400px;
    margin: 200px auto;
    perspective: 800px;
}

#boxDiv {
    width: 400px;   
    transform-style: preserve-3d; 
    animation: rotate 20s linear infinite;
}

#boxDiv div {
    position: absolute;
    width: 400px;
    height: 400px;
    opacity: 1;
    color: white;
}

#front {
    transform: translateZ(200px);
    background-image: url('../../gameover.png') ;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


#back {
    transform: rotateY(180deg) translateZ(200px);
    background-image: url('../../digital-marketing.png') ;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}

#left {
    transform: rotateY(-90deg) translateX(-200px);
    transform-origin: left;
    
    background-image: url('../../tech.png') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}

#right {
    transform: rotateY(90deg) translateX(200px);
    transform-origin: right;
    
    background-image: url('../../franchise.png') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}

#top {
    transform: rotateX(-90deg) translateY(-200px);
    transform-origin: top;
    
    
    background-position: center;
    background-repeat: no-repeat;    
}

#bottom {
    transform: rotateX(90deg) translateY(200px);
    transform-origin: bottom;
    
    
    background-position: center;
    background-repeat: no-repeat;    
}

@keyframes rotate {
    0% { transform: rotateY(0); }
    100% { transform: rotateY(360deg); }
}


.shadow {
    
    
    width:400px;
    height:400px;
    background: rgba(255,255,255,0.3);
    box-shadow: 0 0 20px 20px rgba(255,255,255,0.3);
    transform: rotateX(90deg) translateZ(-250px) rotateY(180deg) translateX(0px);
    -webkit-transform: rotateX(90deg) translateZ(-250px) rotateY(180deg) translateX(0px);

}

